##**TEXT 1**
####URL : https://www.kompas.com/sports/read/2023/05/01/14300058/stephen-curry-menggila--cetak-50-poin-bersejarah-tantang-lebron-di

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!pip install newspaper3k

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: newspaper3k in /usr/local/lib/python3.10/dist-packages (0.2.8)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (4.11.2)
Requirement already satisfied: Pillow>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (8.4.0)
Requirement already satisfied: PyYAML>=3.11 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (6.0)
Requirement already satisfied: cssselect>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (1.2.0)
Requirement already satisfied: lxml>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (4.9.2)
Requirement already satisfied: nltk>=3.2.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (3.8.1)
Requirement already satisfied: requests>=2.10.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (2.27.1)
Requirement already satisfied: feedparser>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (6.0.10)
Requirement already satisfied: tldextract>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (3.4.1)
Requirement already satisfied: feedfinder2>=0.0.4 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (0.0.4)
Requirement already satisfied: jieba3k>=0.35.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (0.35.1)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (2.8.2)
Requirement already satisfied: tinysegmenter==0.3 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (0.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.4.1->newspaper3k) (2.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from feedfinder2>=0.0.4->newspaper3k) (1.16.0)
Requirement already satisfied: sgmllib3k in /usr/local/lib/python3.10/dist-packages (from feedparser>=5.2.1->newspaper3k) (1.0.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (4.65.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (3.4)
Requirement already satisfied: requests-file>=1.4 in /usr/local/lib/python3.10/dist-packages (from tldextract>=2.0.1->newspaper3k) (1.5.1)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.10/dist-packages (from tldextract>=2.0.1->newspaper3k) (3.12.0)

In [ ]:
from newspaper import Article

In [ ]:
url = 'https://www.kompas.com/sports/read/2023/05/01/14300058/stephen-curry-menggila--cetak-50-poin-bersejarah-tantang-lebron-di'

article = Article(url)

# # Or instead you can using specific language

# article = Article(url, language='en')  # English

In [ ]:
article.download()

In [ ]:
article.parse()

In [ ]:
article.authors

['Kompas Cyber Media', 'Benediktus Agya Pradipta', 'Afp Ezra Shaw']

In [ ]:
article.publish_date

datetime.datetime(2023, 5, 1, 0, 0)

In [ ]:
article.top_image

'https://asset.kompas.com/crops/SCNnnpzkn9kEsG3TFcvjg2Tk-tw=/0x0:1023x682/780x390/filters:watermark(data/photo/2020/03/10/5e6775b55942a.png,0,-0,1)/data/photo/2023/05/01/644f57b0c8a05.jpg'

In [ ]:
article.movies

[]

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
article.nlp()

In [ ]:
article.keywords

['menggila',
 'ketujuh',
 'poin',
 'nba',
 'kontra',
 'lebron',
 'tantang',
 'semifinal',
 'curry',
 'stephen',
 'di',
 'pada',
 'yang',
 'bersejarah',
 'cetak',
 'sacramento',
 'gim']

In [ ]:
article.summary

"Stephen Curry yang selalu bermain sejak gim pertama kontra Sacramento Kings tampil luar biasa dalam laga penentuan tersebut.\nDia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra De'Aaron Fox dkk.\nBaca juga: NBA Tunjuk SUGA BTS Jadi AmbassadorTorehan 50 poin dari Stephen Curry sekaligus menjadi catatan bersejarah dalam kompetisi NBA.\nStephen Curry menjadi pebasket pertama dalam sejarah NBA yang mampu mencetak 50 poin pada gim ketujuh.\nSelain itu, Stephen Curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs."

In [ ]:
Scrapping_1 = article.text
Scrapping_1

"KOMPAS.com - Juru tembak Golden State Warriors, Stephen Curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final NBA Playoffs wilayah Barat kontra Sacramento Kings.\n\nGim ketujuh perempat final NBA Playoffs wilayah Barat antara Golden State Warriors dan Sacramento Kings berlangsung di Golden 1 Center, Sacramento, California, Amerika Serikat, pada Senin (1/5/2023) pagi WIB.\n\nStephen Curry yang selalu bermain sejak gim pertama kontra Sacramento Kings tampil luar biasa dalam laga penentuan tersebut.\n\nDia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra De'Aaron Fox dkk.\n\nBaca juga: NBA Tunjuk SUGA BTS Jadi Ambassador\n\nTorehan 50 poin dari Stephen Curry sekaligus menjadi catatan bersejarah dalam kompetisi NBA.\n\nStephen Curry menjadi pebasket pertama dalam sejarah NBA yang mampu mencetak 50 poin pada gim ketujuh.\n\nDia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, Kevin Durant, untuk Brooklyn Nets pada gim ketujuh semifinal Playoffs NBA 2021 melawan Milwaukee Bucks.\n\nSelain itu, Stephen Curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.\n\nBaca juga: Sepatu Michael Jordan di Final NBA 1998 Terjual Rp 32 Miliar\n\nStephen Curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final NBA 2019 kontra Toronto Raptors.\n\nKala itu, Stephen Curry mampu mencetak 47 poin. Namun, Golden State Warriors tetap kalah dengan skor 109-123 dari Toronto Raptors yang kemudian keluar sebagai juara NBA 2019."

###**NLP Text Processing**

####1. **Lower Casing** : berfungsi untuk membuat semua huruf pada text menjadi huruf kecil.

- size vektor = 50

In [ ]:
pip install spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.10/dist-packages (from spacy) (8.1.9)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.1.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.4.6)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (4.65.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.22.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (2.27.1)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy) (1.10.7)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (23.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy) (2.1.2)

In [ ]:
import spacy

#mengubah text menjadi huruf kecil semua
Scrapping_1 = Scrapping_1.lower()

#membuat model bahasa menggunakan nlp_low
nlp_low = spacy.load("en_core_web_sm")

#memproses teks huruf kecil dengan model bahasa
doc = nlp_low(Scrapping_1)

#merepresentasi vektor dengan size 50 dari teks yang telah diproses
vector = doc.vector[:50]
print(vector)

[-0.2572803  -0.7278159   0.09693353  0.25324893  0.27843297  0.13981856
  0.1471056   1.0520216   0.34270105  0.06407917  0.50580823  0.52758586
 -0.6451537  -0.6874819  -0.35184014  0.15913826 -0.2252825  -0.12342583
 -0.45740956 -0.3675101  -0.61691535  0.32880852 -0.36989906  0.27583936
  0.14241455  0.05537829  0.42351726  0.84272003  0.19335665  0.10342553
 -0.14690964 -0.22468321 -0.00469847  0.5322118  -0.25244483 -0.08976509
  0.5845972   0.40074375 -0.5931793  -0.38085902 -0.22562158 -0.06769584
 -0.15755747  0.3255759  -0.55309194 -0.03165738  0.10949861  0.23184422
 -0.0447013   0.2521955 ]

- lowercase untuk teks keseluruhan

In [ ]:
#print hasil yang telah menjadi huruf kecil dengan size vektor 50
print(Scrapping_1)

kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.

gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.

stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.

dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.

baca juga: nba tunjuk suga bts jadi ambassador

torehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.

stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.

dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.

selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.

baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar

stephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.

kala itu, stephen curry mampu mencetak 47 poin. namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.

- frequency kata yang diperhitungkan minimal 2

In [31]:
#Split de text menjadi kata dan membuat variabel baru
words = Scrapping_1.split()
word_freq = {}

#Menghitung frekuensi setiap kata
for word in words:
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

#Membuat variabel baru untuk frekuensi kata minimal 2
word_freq_at_least_2 = {}

#filter untuk frekuensi kata minimal 2
for word, freq in word_freq.items():
    if freq >= 2:
        word_freq_at_least_2[word] = freq

#print frekuensi kata minimal 2
for word, freq in word_freq_at_least_2.items():
    print(f"{word}: {freq}")

golden: 4
state: 3
stephen: 7
tampil: 2
pada: 6
gim: 7
ketujuh: 4
perempat: 2
final: 4
nba: 8
playoffs: 3
wilayah: 2
barat: 2
kontra: 4
sacramento: 3
warriors: 2
kings: 2
di: 3
curry: 6
yang: 5
pertama: 2
dalam: 4
dia: 2
dengan: 2
torehan: 2
50: 3
poin: 5
dari: 3
penampilannya: 2
baca: 2
juga:: 2
menjadi: 2
mampu: 2
mencetak: 3
rekor: 2
itu,: 2
toronto: 2

####2. **Tokenization** : berfungsi untuk membagi teks yang dapat berupa kalimat, paragraf atau dokumen, menjadi token-token/bagian-bagian tertentu.

a. **Sentences Tokenization/Tokenisasi kalimat** : berfungsi untuk membagi string bahasa tertulis menjadi kalimat komponennya. kita dapat memisahkan kalimat setiap kali kita melihat tanda baca.

Untuk menerapkan tokenisasi kalimat dengan NLTK kita dapat menggunakan fungsi "nltk.sent_tokenize"

In [ ]:
sentences_1 = nltk.sent_tokenize(Scrapping_1)
for sentence in sentences_1:
    print(sentences_1)
    print()

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

['kompas.com - juru tembak golden state warriors, stephen curry, menunjukkan kualitasnya saat tampil pada gim ketujuh perempat final nba playoffs wilayah barat kontra sacramento kings.', 'gim ketujuh perempat final nba playoffs wilayah barat antara golden state warriors dan sacramento kings berlangsung di golden 1 center, sacramento, california, amerika serikat, pada senin (1/5/2023) pagi wib.', 'stephen curry yang selalu bermain sejak gim pertama kontra sacramento kings tampil luar biasa dalam laga penentuan tersebut.', "dia menggila dengan torehan 50 poin dari 37 menit penampilannya pada gim ketujuh kontra de'aaron fox dkk.", 'baca juga: nba tunjuk suga bts jadi ambassador\n\ntorehan 50 poin dari stephen curry sekaligus menjadi catatan bersejarah dalam kompetisi nba.', 'stephen curry menjadi pebasket pertama dalam sejarah nba yang mampu mencetak 50 poin pada gim ketujuh.', 'dia melampaui rekor 48 poin yang dicetak oleh mantan rekan setimnya, kevin durant, untuk brooklyn nets pada gim ketujuh semifinal playoffs nba 2021 melawan milwaukee bucks.', 'selain itu, stephen curry juga mencetak poin tertinggi dalam riwayat penampilannya di babak playoffs.', 'baca juga: sepatu michael jordan di final nba 1998 terjual rp 32 miliar\n\nstephen curry berhasil memecahkan rekor yang sebelumnya ia ukir pada gim ketiga final nba 2019 kontra toronto raptors.', 'kala itu, stephen curry mampu mencetak 47 poin.', 'namun, golden state warriors tetap kalah dengan skor 109-123 dari toronto raptors yang kemudian keluar sebagai juara nba 2019.']

b. **Words Tokenization/Tokenisasi kata** : berfungsi untuk membagi string bahasa tertulis menjadi kata-kata komponennya. Dalam bahasa Inggris dan banyak bahasa lain yang menggunakan beberapa bentuk abjad Latin, spasi adalah perkiraan yang baik untuk pemisah kata.

Untuk menerapkan tokenisasi kalimat dengan NLTK kita dapat menggunakan fungsi "nltk.word_tokenize"

In [ ]:
words_1 = nltk.word_tokenize(sentence)
for sentence in sentences_1:
    print(words_1)
    print()

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

['namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

####3. **Stop Words** : berfungsi untuk menyaring kata-kata sebelum atau sesudah pemrosesan teks. Karena banyak katayang dapat menambah banyak gangguan, maka kita akan menghapus kata-kata yang tidak relevan ini.

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
stop_words = set(stopwords.words("english"))

words = nltk.word_tokenize(Scrapping_1)
without_stop_words = []

for word in words:
    if word not in stop_words:
        without_stop_words.append(word)

print(without_stop_words)

['kompas.com', '-', 'juru', 'tembak', 'golden', 'state', 'warriors', ',', 'stephen', 'curry', ',', 'menunjukkan', 'kualitasnya', 'saat', 'tampil', 'pada', 'gim', 'ketujuh', 'perempat', 'final', 'nba', 'playoffs', 'wilayah', 'barat', 'kontra', 'sacramento', 'kings', '.', 'gim', 'ketujuh', 'perempat', 'final', 'nba', 'playoffs', 'wilayah', 'barat', 'antara', 'golden', 'state', 'warriors', 'dan', 'sacramento', 'kings', 'berlangsung', 'di', 'golden', '1', 'center', ',', 'sacramento', ',', 'california', ',', 'amerika', 'serikat', ',', 'pada', 'senin', '(', '1/5/2023', ')', 'pagi', 'wib', '.', 'stephen', 'curry', 'yang', 'selalu', 'bermain', 'sejak', 'gim', 'pertama', 'kontra', 'sacramento', 'kings', 'tampil', 'luar', 'biasa', 'dalam', 'laga', 'penentuan', 'tersebut', '.', 'dia', 'menggila', 'dengan', 'torehan', '50', 'poin', 'dari', '37', 'menit', 'penampilannya', 'pada', 'gim', 'ketujuh', 'kontra', "de'aaron", 'fox', 'dkk', '.', 'baca', 'juga', ':', 'nba', 'tunjuk', 'suga', 'bts', 'jadi', 'ambassador', 'torehan', '50', 'poin', 'dari', 'stephen', 'curry', 'sekaligus', 'menjadi', 'catatan', 'bersejarah', 'dalam', 'kompetisi', 'nba', '.', 'stephen', 'curry', 'menjadi', 'pebasket', 'pertama', 'dalam', 'sejarah', 'nba', 'yang', 'mampu', 'mencetak', '50', 'poin', 'pada', 'gim', 'ketujuh', '.', 'dia', 'melampaui', 'rekor', '48', 'poin', 'yang', 'dicetak', 'oleh', 'mantan', 'rekan', 'setimnya', ',', 'kevin', 'durant', ',', 'untuk', 'brooklyn', 'nets', 'pada', 'gim', 'ketujuh', 'semifinal', 'playoffs', 'nba', '2021', 'melawan', 'milwaukee', 'bucks', '.', 'selain', 'itu', ',', 'stephen', 'curry', 'juga', 'mencetak', 'poin', 'tertinggi', 'dalam', 'riwayat', 'penampilannya', 'di', 'babak', 'playoffs', '.', 'baca', 'juga', ':', 'sepatu', 'michael', 'jordan', 'di', 'final', 'nba', '1998', 'terjual', 'rp', '32', 'miliar', 'stephen', 'curry', 'berhasil', 'memecahkan', 'rekor', 'yang', 'sebelumnya', 'ia', 'ukir', 'pada', 'gim', 'ketiga', 'final', 'nba', '2019', 'kontra', 'toronto', 'raptors', '.', 'kala', 'itu', ',', 'stephen', 'curry', 'mampu', 'mencetak', '47', 'poin', '.', 'namun', ',', 'golden', 'state', 'warriors', 'tetap', 'kalah', 'dengan', 'skor', '109-123', 'dari', 'toronto', 'raptors', 'yang', 'kemudian', 'keluar', 'sebagai', 'juara', 'nba', '2019', '.']

####4. **TF-IDF** : berfungsi untuk melakukan ukuran statistik yang digunakan untuk mengevaluasi pentingnya suatu kata bagi suatu dokumen dalam kumpulan. 

Nilai skor TF-IDF meningkat secara proporsional dengan berapa kali sebuah kata muncul dalam dokumen, tetapi diimbangi dengan jumlah dokumen dalam korpus yang mengandung kata tersebut.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
values = tfidf_vectorizer.fit_transform(words_1)

In [ ]:
#menunjukkan hasil model
feature_names = tfidf_vectorizer.get_feature_names_out()
TFIDF = pd.DataFrame(values.toarray(), columns = feature_names)
TFIDF

,109,123,2019,dari,dengan,golden,juara,kalah,keluar,kemudian,namun,nba,raptors,sebagai,skor,state,tetap,toronto,warriors,yang
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,0.707107,0.707107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#mengurutkan data
sorted_data = sorted(TFIDF, reverse=True)

In [ ]:
#print  list kata dengan 5 nilai TF IDF tertinggi
print("Top 5 highest values:")
for i in range(5):
    print(sorted_data[i])

Top 5 highest values:
yang
warriors
toronto
tetap
state